@import "./variables.css";

h1 {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

.header {
	height: auto;
	width: calc(100% - 20px);
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.linkButton {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	padding: 10px 20px;
	text-align: center;
	transition: background 150ms, border-color 150ms, color 150ms;
	margin-left: 20px;
	font-size: 14px;
	font-weight: bold;
	background: white;
	color: black;
}

.linkButton:hover {
	border-color: var(--gradient2);
	background: var(--gradient2);
	color: white;
}

.linkButton:first-of-type {
	margin-left: 0;
}

.linkButton:last-of-type {
	margin-right: 0;
}

.banner {
	width: 100%;
	object-fit: cover;
	height: 700px;
	background: linear-gradient(to bottom right, var(--gradient1), var(--gradient2));
}

.logo {
	height: 40px;
	width: 40px;
	margin-right: 20px;
}

.badge {
	display: flex;
	justify-content: space-between;
	align-items: center;
}