@import "./variables.css";

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: var(--font), var(--fallback-font);
}

.header {
	height: auto;
	width: calc(100% - 20px);
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background-color: white;
}

.linkButton {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	padding: 10px 20px;
	text-align: center;
	transition: background 150ms, border-color 150ms, color 150ms;
	margin-left: 10px;
	font-size: 14px;
	font-weight: 999;
	background: white;
	color: black;
	text-transform: uppercase;
	cursor: pointer;
}

.linkButton:hover {
	border-color: var(--gradient2);
	background: var(--gradient2);
	color: white;
}

.linkButton:first-of-type {
	margin-left: 0;
}

.linkButton:last-of-type {
	margin-right: 0;
}

.banner {
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: 100%;
}

.banner > * {
	grid-column-start: 1;
	grid-row-start: 1;
}

.banner-image {
	width: 100%;
	object-fit: cover;
	height: 700px;
	background: linear-gradient(
		to bottom right,
		var(--gradient1),
		var(--gradient2)
	);
}

.banner-reel {
	justify-content: center;
	align-items: center;
	display: flex;
}

.badge-logo {
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

.badge {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.badge-title {
	font-weight: 900;
	text-transform: uppercase;
}

.content {
	margin: auto;
	max-width: 800px;
}

.grid {
	width: 100%;
	display: grid;
	grid-template-columns: calc(50% - 20px) calc(50% - 20px);
	grid-column-gap: 40px;
}

.card {
	width: 100%;
	height: auto;
	padding-bottom: 40px;
}

.card-image {
	object-fit: cover;
	width: 100%;
	margin-bottom: 10px;
	max-height: 200px;
}

.card-title {
	text-align: center;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.card-body {
	text-align: center;
	font-weight: 200;
	text-transform: none;
}

.card-toggle {
	padding-top: 14px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.card-button {
	border: #00b06f;
	padding: 10px 20%;
	text-align: center;
	transition: background 100ms;
	font-weight: 600;
	background: #00b06f;
	color: white;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
}

.card-play {
	width: 20px;
	height: auto;
	object-fit: cover;
}

.pageHeader {
	text-align: center;
	padding: 40px;
	font-size: 50px;
	text-transform: uppercase;
}

.section {
	background-color: #f0f0f0;
}

.video {
	max-width: "800";
	height: "auto";
}
